@page
@model NewBTC.Pages.Deposits.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Deposits</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deposits.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deposits.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deposits.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deposits.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deposits.DateDeposited)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deposits.DateDeposited)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Deposits?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
