@page
@model NewBTC.Pages.Withdraw.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Withdraw</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Withdraw.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Withdraw.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Withdraw.withdrawAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Withdraw.withdrawAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Withdraw.WithdrawDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Withdraw.WithdrawDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Withdraw.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Withdraw.TotalAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Withdraw.AcctBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Withdraw.AcctBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Withdraw.Wstatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Withdraw.Wstatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Withdraw?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
